@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 20px;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.header-text {
  -webkit-text-stroke: 1.75px #ededed;
}

.avatar {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 3px solid #555;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-image: url(/assets/avatar.jpeg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: morph 8s ease-in-out infinite;
  -moz-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

/* 
-
avatar img blob animation 
-
*/

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* 
-
skill component border hover animations 
-
*/

.figma-border-animation {
  animation: figmaBgGradientAnimation 3.75s ease 0s infinite normal none;
}

.vite-border-animation {
  animation: viteBgGradientAnimation 3.75s ease 0s infinite normal none;
}

/* 
-
skill tooltip label bg gradients (figma and vite) 
-
*/

.label--figma {
  background: hsla(156, 86%, 41%, 1);
  background: linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
}

.label--vite {
  background: hsla(281, 99%, 60%, 1);
  background: linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
}

/* 
-
figma skill keyframes 
-
*/

@-webkit-keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

@keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

/* 
-
vite skill keyframes 
-
*/

@-webkit-keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}

@-moz-keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}

@keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}
