@tailwind base;
@tailwind components;
@tailwind utilities;

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (CHROME, SAFARI, OPERA) */
body::-webkit-scrollbar {
  width: 0 !important;
}

/* HIDE SCROLLBAR BUT STILL ALLOW SCROLL (FIREFOX) */
@-moz-document url-prefix() {
  html {
    scrollbar-width: none;
  }
}

input:focus,
textarea:focus,
.accent-outline:focus,
.btn:focus {
  outline: 2px solid #0072bb;
}

/* buttons */

.btn {
  padding-block: 9px;
  padding-inline: 20px;
  border-radius: 8px;
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700; /* bold */
}

.btn-dark {
  background: rgb(39, 39, 39);
  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 1) 0%,
    rgba(26, 26, 26, 1) 100%
  );
  color: #ededed;
}

.btn-dark:hover,
.btn-dark:focus {
  background: rgb(39, 39, 39);
  background: linear-gradient(
    180deg,
    rgba(39, 39, 39, 1) 0%,
    rgba(39, 39, 39, 1) 100%
  );
}

.btn-light {
  background: rgb(237, 237, 237);
  background: linear-gradient(
    180deg,
    rgba(237, 237, 237, 1) 0%,
    rgba(250, 250, 250, 1) 100%
  );
  color: #272727;
}

.btn-light:hover,
.btn-light:focus {
  background: rgb(228, 228, 228);
  background: linear-gradient(
    180deg,
    rgba(228, 228, 228, 1) 0%,
    rgba(228, 228, 228, 1) 100%
  );
}

.header-text {
  animation-name: moveInTop;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.header-cta--left {
  animation-name: moveInRight;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.header-cta--right {
  animation-name: moveInLeft;
  animation-duration: 1.4s;
  animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

/* Gives "web developer" in header intro stroke effect */

.header-text-stroke--dark {
  -webkit-text-stroke: 1.75px #ededed;
}

.header-text-stroke {
  -webkit-text-stroke: 1.75px #272727;
}

.avatar {
  position: relative;
  width: 15rem;
  height: 15rem;
  border: 3px solid #555;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  background-image: url(/assets/images/avatar.jpeg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: morph 8s ease-in-out infinite;
  -moz-animation: morph 8s ease-in-out infinite;
  animation: morph 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

/* 
-
skill component border hover animations 
-
*/

.figma-border-animation {
  animation: figmaBgGradientAnimation 3.75s ease 0s infinite normal none;
}

.vite-border-animation {
  animation: viteBgGradientAnimation 3.75s ease 0s infinite normal none;
}

/* 
-
skill tooltip label bg gradients (figma and vite) 
-
*/

.label--figma {
  background: hsla(156, 86%, 41%, 1);
  background: linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(156, 86%, 41%, 1) 0%,
    hsla(267, 85%, 64%, 1) 50%,
    hsla(13, 80%, 51%, 1) 100%
  );
}

.label--vite {
  background: hsla(281, 99%, 60%, 1);
  background: linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    hsla(281, 99%, 60%, 1) 0%,
    hsla(195, 100%, 63%, 1) 100%
  );
}

/* return home button hover bob animation */

/* BOB EFFECT FROM HOVER.CSS */
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.hvr-bob,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  -moz-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  -moz-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  -moz-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  -moz-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  -moz-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  -moz-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* 
-
header text animation keyframes
-
*/

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-moz-keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 
-
header cta button move in right animation keyframes
-
*/

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 
-
header cta button move in left animation keyframes
-
*/

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@-moz-keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 
-
avatar img blob animation 
-
*/

@-webkit-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@-moz-keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* 
-
figma skill keyframes 
-
*/

@-webkit-keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

@-moz-keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

@keyframes figmaBgGradientAnimation {
  0% {
    background: hsla(13, 80%, 51%, 1);
  }
  20% {
    background: hsla(6, 85%, 66%, 1);
  }
  40% {
    background: hsla(267, 85%, 64%, 1);
  }
  60% {
    background: hsla(197, 89%, 52%, 1);
  }
  80% {
    background: hsla(156, 86%, 41%, 1);
  }
  100% {
    background: hsla(13, 80%, 51%, 1);
  }
}

/* 
-
vite skill keyframes 
-
*/

@-webkit-keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}

@-moz-keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}

@keyframes viteBgGradientAnimation {
  0% {
    background: hsla(195, 100%, 63%, 1);
  }
  20% {
    background: hsla(281, 99%, 60%, 1);
  }
  40% {
    background: hsla(50, 100%, 76%, 1);
  }
  60% {
    background: hsla(50, 100%, 60%, 1);
  }
  80% {
    background: hsla(40, 100%, 50%, 1);
  }
  100% {
    background: hsla(195, 100%, 63%, 1);
  }
}

/* 
-
return home hover bob animation keyframes
-
*/

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-moz-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-moz-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
